# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# Uploads
uploads/

# FAISS Indexes
indexes/

# Model Cache
models_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db